#Game{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 150px;
  margin-top: 150px;
}

body {
    position:static;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    width: 100%;
  }
  
  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  
  }
  
  img{
    height: 125px;
    width: 125px;
  }
  
  form{
    display: block;
    text-align:center;
  }
  
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit],[type=reset] {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover,[type=reset]:hover {
    background-color: #ddd;
    color: #333;
  }
  
  img{
    height: 125px;
    width: 125px;
  }
  
  form{
    display: block;
    text-align:center;
  }
  
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .nav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  } 
  .nav a.active {
    background-color: #17696e;
    color: white;
  }
  
  .header{
    background-image: url("https://images.unsplash.com/photo-1606669059257-19fc4ca49f79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: auto;
    top: 39.33px;
    margin-bottom: 50px;
  }
  
  .mainheading {
    color:white;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.233);
    opacity:0.75;
    border: solid 3px white;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    border-radius: 15px;
  }
  
  .container{
    display: block;
    background-color: lightgrey;
    height:fit-content;
    border: none;
    border-style: solid;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    width: 50%;
    padding: 50px;
    margin: auto;
    margin-bottom: 100px
  }
  
  .formlogin {
    text-align: center;
     border:2px;
     margin: auto;
     border-color:#17696e;
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 20px;
  }
    
  .footer{
      width: 100%;
      text-align: center;
      background-color: #333;
      color: #f2f2f2;
      font-size: 17px;
      margin-top: 150px;
      bottom: 0;
      padding: 20px;
      position:fixed;
  }

  #container{
    margin-bottom: 100px;
  }
  
  #forms{
    display: block;
    background-color: lightgrey;
    height:fit-content;
    border: none;
    border-style: solid;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    width: 50%;
    padding: 50px;
    margin: auto;
    margin-bottom: 100px
  }
  
  /*#container{
    display: block;
    background-color: lightgrey;
    height:fit-content;
    border: none;
    border-style: solid;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    width: fit-content;
    padding: 50px;
    margin: auto;
    margin-bottom: 100px
  }*/
  